In [1]:
import pandas as pd

In [3]:
# carrega dataframe
df = pd.read_csv('/home/guilherme/Documentos/projetos_git/da-airbnb-ny/in/AB_NYC_2019.csv')

In [4]:
# analisando tipos dos dados
print (df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [5]:
# analise do bairro
print (df['neighbourhood_group'].drop_duplicates())

0           Brooklyn
1          Manhattan
46            Queens
169    Staten Island
171            Bronx
Name: neighbourhood_group, dtype: object